In [1]:
import pandas as pd
from qgrid import show_grid

/tmp/ipykernel_3542672/785301335.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('example.csv', parse_dates=['date'], index_col=0)

In [3]:
df.dtypes

date    datetime64[ns]
cf             float64
cb                bool
ci               int64
cu              uint64
cs              object
dtype: object

In [4]:
df

           date           cf     cb   ci                    cu   cs
id
0    2005-01-04   11465.6029   True   -8    237984280904424225  eee
1    2005-01-05   20718.5586   True  -11   6135028189662314130  ddd
2    2005-01-06   17333.8401  False   92   2552689134208762542  ddd
3    2005-01-07   12302.8532   True  117  17221344372519106196  bbb
4    2005-01-10   17111.4980   True  -73   4951539081942837395  bbb
...         ...          ...    ...  ...                   ...  ...
4460 2023-12-20  650511.3430  False -108  16715228061546685321  bbb
4461 2023-12-21  925407.0730   True  -48   8266030627101235507  ccc
4462 2023-12-22  924998.7690  False   50  11849472432302116626  ddd
4463 2023-12-25  379638.2340  False -112   5964619913061469407  aaa
4464 2023-12-26  493746.6230  False   12   5249516862962858689  aaa

[4465 rows x 6 columns]

In [5]:
show_grid(df)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…